<div class="p-4 vh-100 d-flex flex-column">
  <h1 class="h-100 d-flex align-items-center justify-content-center">Snapscan</h1>

  <div class="d-flex flex-column gap-2">
    <button class="btn btn-main p-3 fw-semibold">
      <%= link_to 'LOG IN', '/sign_in' %>
    </button>

    <button class="btn p-3 fw-semibold">
      <%= link_to 'SIGN UP', '/sign_up' %>
    </button>
  </div> 
</div>