<div id="<%= dom_id purchase %>" class="bg-white p-2 my-2">
  <p class="m-0">
    <strong>Name:</strong>
    <%= purchase.name %>
  </p>

  <p class="m-0">
    <strong>Amount:</strong>
    <%= purchase.amount %>
  </p>

</div>
